<?xml version="1.0" ?>
<model>
    <name>FRACTAL_4L_6</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
   
      <author>
       <name>Woohyun Byun</name>
       <email>imbwh@cau.ac.kr</email>
      </author>
    
    <description>Fractal marker model</description>
</model>

